<div>
    <div class="cui__utils__heading">
        <strong>Products</strong>
    </div>
    <div class="card">
        <div class="card-header card-header-flex">
            <!-- <div class="d-flex flex-column justify-content-center mr-auto">
                <h5 class="mb-0">Latest Orders</h5>
            </div> -->
            <div class="d-flex flex-column justify-content-center mr-auto">
                <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                    <input type="text" [(ngModel)]="term" nz-input placeholder="input search text"
                        (input)="filtersearch()" />
                </nz-input-group>
                <ng-template #suffixIconButton>
                    <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
                </ng-template>
            </div>
            <!-- <div class="d-flex flex-column justify-content-center mr-5">
                <nz-range-picker></nz-range-picker>
            </div> -->
            <!-- <div class="d-flex flex-column justify-content-center mr-5">
                <button nz-button nzType="primary" (click)="open()">Filter</button>
            </div>
            <nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="right" nzTitle="Filter"
                (nzOnClose)="close()">
                <div>
                    <span class="mb-5"><strong>Payment Status</strong> </span><br>
                    <div class="ml-3">
                        <label nz-checkbox [(ngModel)]="checked">All</label><br>
                        <label nz-checkbox [(ngModel)]="checked">Pending</label><br>
                        <label nz-checkbox [(ngModel)]="checked">Completed</label><br>
                        <label nz-checkbox [(ngModel)]="checked">Cancelled</label><br>
                    </div>
                </div>
                <div>
                    <span><strong>Order Status</strong></span><br>
                    <div class="ml-3">
                        <label nz-checkbox [(ngModel)]="checked">All</label><br>
                        <label nz-checkbox [(ngModel)]="checked">Paid</label><br>
                        <label nz-checkbox [(ngModel)]="checked">Unpaid</label><br>
                    </div>
                </div>
            </nz-drawer> -->
            <div class="d-flex flex-column justify-content-center">
                <a routerLink="/apps/addproduct/0" class="btn btn-success" href="javascript: void(0);">
                    Add Product
                </a>
            </div>

        </div>
        <!-- <div class="card-body"> -->
        <nz-table #basicTable class="kit__utils__table mb-4" nzSize="small" [nzData]="filteredvalues">
            <thead>
                <tr>
                    <th>
                        <strong>
                            Name
                        </strong>
                    </th>
                    <th>
                        <strong>
                            Description
                        </strong>
                    </th>
                    <th>
                        <strong>
                            Category
                        </strong>
                    </th>
                    <th>
                        <strong> Tax Group</strong>
                    </th>
                    <th>
                        <strong>
                            Price
                        </strong>
                    </th>
                    <!-- <th nzShowSort [(nzSort)]="mapOfSort.shipping" (nzSortChange)="sort('shipping', $event)">
                            Price
                        </th> -->
                    <!-- <th nzShowSort [(nzSort)]="mapOfSort.quantity" (nzSortChange)="sort('quantity', $event)">
                Quantity</th>
              <th nzShowSort [(nzSort)]="mapOfSort.status" (nzSortChange)="sort('status', $event)">
                Status
              </th> -->
                    <th> <strong>
                            Action
                        </strong>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of basicTable.data">
                    <td>
                        <a routerLink="/apps/addproduct/{{product.id}}" class="btn btn-sm btn-light">
                            {{product.name}}
                        </a>
                    </td>
                    <td>
                        {{product.description}}
                    </td>
                    <td>
                        {{product.category.description}}
                    </td>
                    <td>
                        {{product.taxGroup.description}}
                    </td>
                    <td>
                        &#8377; {{product.price}}
                    </td>
                    <!-- <td>
            
              </td> -->
                    <!-- <td>
                <span
                  [ngClass]="[item.status === 'Processing' ? 'font-size-12 badge badge-primary' : 'font-size-12 badge badge-default']">
                  {{item.status}}
                </span>
              </td> -->
                    <td>
                        <!-- <a routerLink="/apps/addproduct/{{product._id}}" href="javascript: void(0);" class="btn btn-sm btn-light ">
                  <i class="fe fe-edit "></i>
                </a> -->
                        <!-- <a href="javascript: void(0);" class="btn btn-sm btn-light ml-2 ">
                                <small>
                                <i class="fe fe-trash "></i>
                                </small>
                            </a> -->
                        <input type="checkbox" />
                    </td>
                </tr>
            </tbody>
        </nz-table>
        <!-- </div> -->
    </div>
</div>