<div>
    <div class="form-group row" *ngIf="isShown">
        <div class="hk-pg-header">
            <h4 class="hk-pg-title" style="margin-left:35px"><span class="pg-title-icon"><span class="feather-icon"><i
                    data-feather="archive"></i></span></span> Asset List</h4>
          </div>
              </div>
        <div class="form-group row" *ngIf="isShown" >
            <div  class="d-flex flex-column justify-content-center mr-auto" style="width: 350px;">
                <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                    <input type="text" [(ngModel)]="term" nz-input placeholder="input search text"
                        (input)="filtersearch()"/>
                </nz-input-group>
                <ng-template #suffixIconButton>
                    <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
                </ng-template>
                </div>    
            <button style="background-color: green;color: white;"(click)="locback()">Create New</button>
        </div>
<nz-table #basicTable class="kit__utils__table mb-4" nzSize="small" *ngIf="isShown" [nzData]="filteredvalues">
     <thead>
        <tr>
            <th><strong>AssetId</strong></th>
            <th><strong>Asset</strong></th>
            <th><strong>Asset Type </strong></th> 
            <th><strong>Responsible By</strong> </th>                            
            <th><strong>Vendor</strong> </th>  
            <th><strong>Location</strong> </th>  
            <th><strong>Is Active</strong> </th>  
            <th><strong>Count</strong> </th>  
            <th><strong>Actions</strong></th>
        </tr>
    </thead>
    <tbody>
 <tr *ngFor="let ord of billData.liability" >
            <td>
                {{ord.id}}
            </td>
            <td style="color: blue;">
                {{ord.description}}
            </td>
                        <td >
                                <span *ngIf="ord.liabilityTypeId == 1">Swiping Machine</span>
                                <span *ngIf="ord.liabilityTypeId == 2">Mobile</span>
                                <span *ngIf="ord.liabilityTypeId == 3">Tab</span>
                            </td>                            

            <td>
                {{ord.contact.name}} 
            </td>
            <td>
                {{ord.vendor.name}} 
            </td>
            
            <td>
                {{ord.store.name}} 
            </td>

            <td >
                <span *ngIf="ord.isActive == true">Active</span>
                <span *ngIf="ord.isActive == false">InActive</span>
            </td>
            <td>
               {{ord.count}} 
            </td>
<td style="color: blue;">
             <a (click)="upddata(ord.id)" href="javascript: void(0);" class="btn btn-sm btn-light ">
                    <i class="fa fa-edit" aria-hidden="true" style="color: blue;"></i>
                </a> 
                    <a href="javascript: void(0);" style="color: blue;"(click)="DeActivate(ord.id)"
                        class="btn btn-sm btn-light pull-left" slot="actions">
                        <i class="far fa-toggle-on"></i>
                    </a>
</td>
        </tr>   
        <button *ngIf="isShown" (click)="locback()">Go Back</button>
        <!-- <ngb-pagination [collectionSize]="20" [(page)]="page" aria-label="Default pagination"></ngb-pagination> -->
    </tbody> 
</nz-table>
</div>

<div class="form-group row" *ngIf="isTable">
    <div class="hk-pg-header">
        <h4 class="hk-pg-title" style="margin-left:35px"><span class="pg-title-icon"><span class="feather-icon"><i
                data-feather="archive"></i></span></span>Add Assets</h4>
      </div>
          </div>

<div class="card-body" *ngIf="isTable">
     <div class="form-group row"> 
        <label class="col-md-3 col-form-label" for="formControlRange">Asset Name</label>
        <div class="col-md-3 pt-2">
            <input type="text" class="form-control"  [(ngModel)]="asset.Description" name="example_name" value="" style="width: 50%"
                placeholder="Enter Asset..." />
        </div>
<!-- </div>
<div class="form-group row">  -->
        <label class="col-md-3 col-form-label" for="formControlRange">Asset Type</label>
         <div class="col-md-3">
            <ng-template class="w-100" #rt let-r="result" let-t="term">
                <ngb-highlight [result]="r.description" [term]="t"></ngb-highlight>
            </ng-template>
            <input #assetautocomplete style="height: 70%;width: 100px;" #instance="ngbTypeahead" type="text" class="form-control"
                placeholder="Asset Type ..."  [ngbTypeahead]="searchdispatch" [inputFormatter]="formatterdispatch"
                [resultTemplate]="rt" (selectItem)="selecteddispatchitem($event.item)" />
         </div> 
     </div> 
<div class="form-group row">
    <label class="col-md-3 col-form-label" for="formControlRange">Location</label>
    <div class="col-md-3">
    <ng-template class="w-100" #ot let-o="result" let-t="term">
        <ngb-highlight [result]="o.name" [term]="t"></ngb-highlight>
    </ng-template>   
    <input #Supplierautocomplete style="height: 70%;width: 100px" #instance="ngbTypeahead" type="text"
    class="form-control" placeholder="Search Location..." 
    [ngbTypeahead]="searchsupplier" [resultTemplate]="ot" [inputFormatter]="formattersupplier"
    (selectItem)="selectedsupplieritem($event.item)" /> 
</div>
<!-- </div>
<div class="form-group row"> -->
    <label class="col-md-3 col-form-label" for="formControlRange">Responsible By</label>
    <div class="col-md-3">
       <ng-template class="w-100" #ct let-c="result" let-t="term">
           <ngb-highlight [result]="c.name" [term]="t"></ngb-highlight>
       </ng-template>
       <input #dispautocomplete style="height: 70%;width: 100px;" #instance="ngbTypeahead" type="text" class="form-control"
           placeholder="Search ..."  [ngbTypeahead]="searchcontact" [inputFormatter]="formattercontact"
           [resultTemplate]="ct" (selectItem)="selectedcontactitem($event.item)" />
    </div> 
</div>
<div class="form-group row"> 
    <label class="col-md-3 col-form-label" for="formControlRange">Count</label>
    <div class="col-md-3 pt-2">
        <input type="number" class="form-control"  [(ngModel)]="asset.Count" name="example_name" value="" style="width: 50%"
            placeholder="Enter Count..." />
    </div>
<!-- </div>
 <div class="form-group row"> -->
    <label class="col-md-3 col-form-label" for="formControlRange">Vendor Name</label>
    <div class="col-md-3">
       <ng-template class="w-100" #vt let-v="result" let-t="term">
           <ngb-highlight [result]="v.name" [term]="t"></ngb-highlight>
       </ng-template>
       <input #vendorautocomplete style="height: 70%;width: 100px;" #instance="ngbTypeahead" type="text" class="form-control"
           placeholder="Search ..."  [ngbTypeahead]="searchvendor" [inputFormatter]="formattervendor"
           [resultTemplate]="vt" (selectItem)="selectedvendoritem($event.item)" />
    </div> 
</div>  
<div class="form-group row"> 
    <label class="col-md-3 col-form-label" for="formControlRange">Is IsOnlinePayment</label>
    <div class="col-md-3 pt-2">
        <input type="checkbox" class="form-control"  [(ngModel)]="asset.IsOnlinePayment" name="example_name" value="" style="width: 50%"
           style="width: 10px;" />
    </div>
</div>

    <button  class="btn btn-success px-5"  (click)="Create()" >Create</button>
</div>
 <button  *ngIf="isTable" class="btn btn-secondary " style="width: 80px;height: 30px;"  (click)="goback()">Go
    Back</button> 

    <div class="form-group row" *ngIf="isTable">
        <div class="hk-pg-header">
            <h4 class="hk-pg-title" style="margin-left:35px"><span class="pg-title-icon"><span class="feather-icon"><i
                    data-feather="archive"></i></span></span>Add Assets</h4>
          </div>
              </div>
    
    <div class="card-body" *ngIf="isEditTable">
         <div class="form-group row"> 
            <label class="col-md-3 col-form-label" for="formControlRange">Asset Name</label>
            <div class="col-md-3 pt-2">
                <input type="text" class="form-control"  [(ngModel)]="asset.Description" name="example_name" value="" style="width: 50%"
                    placeholder="Enter Asset..." />
            </div>
    <!-- </div>
    <div class="form-group row">  -->
            <label class="col-md-3 col-form-label" for="formControlRange">Asset Type</label>
             <div class="col-md-3">
                <ng-template class="w-100" #rt let-r="result" let-t="term">
                    <ngb-highlight [result]="r.description" [term]="t"></ngb-highlight>
                </ng-template>
                <input #assetautocomplete style="height: 70%;width: 100px;" #instance="ngbTypeahead" type="text" class="form-control"
                    placeholder="Asset Type ..."  [ngbTypeahead]="searchdispatch" [inputFormatter]="formatterdispatch"
                    [resultTemplate]="rt" (selectItem)="selecteddispatchitem($event.item)" />
             </div> 
         </div> 
    <div class="form-group row">
        <label class="col-md-3 col-form-label" for="formControlRange">Location</label>
        <div class="col-md-3">
        <ng-template class="w-100" #ot let-o="result" let-t="term">
            <ngb-highlight [result]="o.name" [term]="t"></ngb-highlight>
        </ng-template>   
        <input #Supplierautocomplete style="height: 70%;width: 100px" #instance="ngbTypeahead" type="text"
        class="form-control" placeholder="Search Location..." 
        [ngbTypeahead]="searchsupplier" [resultTemplate]="ot" [inputFormatter]="formattersupplier"
        (selectItem)="selectedsupplieritem($event.item)" /> 
    </div>
    <!-- </div>
    <div class="form-group row"> -->
        <label class="col-md-3 col-form-label" for="formControlRange">Responsible By</label>
        <div class="col-md-3">
           <ng-template class="w-100" #ct let-c="result" let-t="term">
               <ngb-highlight [result]="c.name" [term]="t"></ngb-highlight>
           </ng-template>
           <input #dispautocomplete style="height: 70%;width: 100px;" #instance="ngbTypeahead" type="text" class="form-control"
               placeholder="Search ..."  [ngbTypeahead]="searchcontact" [inputFormatter]="formattercontact"
               [resultTemplate]="ct" (selectItem)="selectedcontactitem($event.item)" />
        </div> 
    </div>
    <div class="form-group row"> 
        <label class="col-md-3 col-form-label" for="formControlRange">Count</label>
        <div class="col-md-3 pt-2">
            <input type="number" class="form-control"  [(ngModel)]="asset.Count" name="example_name" value="" style="width: 50%"
                placeholder="Enter Count..." />
        </div>
    <!-- </div>
     <div class="form-group row"> -->
        <label class="col-md-3 col-form-label" for="formControlRange">Vendor Name</label>
        <div class="col-md-3">
           <ng-template class="w-100" #vt let-v="result" let-t="term">
               <ngb-highlight [result]="v.name" [term]="t"></ngb-highlight>
           </ng-template>
           <input #vendorautocomplete style="height: 70%;width: 100px;" #instance="ngbTypeahead" type="text" class="form-control"
               placeholder="Search ..."  [ngbTypeahead]="searchvendor" [inputFormatter]="formattervendor"
               [resultTemplate]="vt" (selectItem)="selectedvendoritem($event.item)" />
        </div> 
    </div>  
    <div class="form-group row"> 
        <label class="col-md-3 col-form-label" for="formControlRange">Is IsOnlinePayment</label>
        <div class="col-md-3 pt-2">
            <input type="checkbox" class="form-control"  [(ngModel)]="asset.IsOnlinePayment" name="example_name" value="" style="width: 50%"
               style="width: 10px;" />
        </div>
    </div>
    
        <button  class="btn btn-success px-5"  (click)="Update()" >Update</button>
    </div>
     <button  *ngIf="isEditTable" class="btn btn-secondary " style="width: 80px;height: 30px;"  (click)="goback()">Go
        Back</button> 
    