<div class="col-xs-12 col-md-9">
    <!-- <div class="row"> -->
    <nz-input-group>
        <nz-date-picker ></nz-date-picker>
        <button class="btn btn-success pull-right mb-2" href="javascript: void(0);">
            Save Stock
        </button>
    </nz-input-group>
    <!-- </div> -->
    <!-- <div>
        </div> -->
    <div class="mb-4 card ">
        <nz-table class="kit__utils__table mb-4">
            <thead>
                <tr>
                    <th><strong>Batch No</strong></th>
                    <th><strong>Barcode</strong></th>
                    <th><strong>Product</strong></th>
                    <!-- <th><strong>Batch</strong></th> -->
                    <!-- <th><strong>Variant</strong></th> -->
                    <th><strong>Quantity</strong></th>
                    <th><strong>Price</strong></th>
                    <th><strong>Expiary Date </strong></th>
                    <th><strong>Action </strong></th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td>
                       
                    </td>
                    <td>
                       
                    </td>
                    <td>
                       
                    </td>
                    <td>
                        
                    </td>
                    <td>
                       
                    </td>
                    <td>
                       
                    </td>
                    <td>
                        <a href="javascript: void(0);" class="btn btn-sm btn-light" >
                            <i class="fe fe-trash"></i>
                        </a>
                    </td>
                </tr>
                <!-- <tr >
                    <td colspan="7" class="text-center">
                        Stock is Empty!
                    </td>
                </tr> -->
            </tbody>
        </nz-table>
    </div>

