<div>
    <div class="cui__utils__heading">
        <strong>Latest Orders</strong>
    </div>
    <div class="card">
        <div class="card-header card-header-flex">
            <!-- <div class="d-flex flex-column justify-content-center mr-auto">
                <h5 class="mb-0">Latest Orders</h5>
            </div> -->
            <div class="d-flex flex-column justify-content-center mr-auto">
                <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                    <input type="text" nz-input placeholder="input search text" />
                </nz-input-group>
                <ng-template #suffixIconButton>
                    <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
                </ng-template>
            </div>
            <div class="d-flex flex-column justify-content-center mr-5">
                <nz-range-picker></nz-range-picker>
            </div>
            <div class="d-flex flex-column justify-content-center mr-5">
                <button nz-button nzType="primary" (click)="open()">Filter</button>
            </div>
            <nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="right" nzTitle="Filter"
                (nzOnClose)="close()">
                <div>
                    <span class="mb-5"><strong>Payment Status</strong> </span><br>
                    <div class="ml-3">
                        <label nz-checkbox [(ngModel)]="checked">All</label><br>
                        <label nz-checkbox [(ngModel)]="checked">Pending</label><br>
                        <label nz-checkbox [(ngModel)]="checked">Completed</label><br>
                        <label nz-checkbox [(ngModel)]="checked">Cancelled</label><br>
                    </div>
                </div>
                <div>
                    <span><strong>Order Status</strong></span><br>
                    <div class="ml-3">
                        <label nz-checkbox [(ngModel)]="checked">All</label><br>
                        <label nz-checkbox [(ngModel)]="checked">Paid</label><br>
                        <label nz-checkbox [(ngModel)]="checked">Unpaid</label><br>
                    </div>
                </div>
            </nz-drawer>
            <div class="d-flex flex-column justify-content-center">
                <a routerLink="/apps/sale" class="btn btn-success" href="javascript: void(0);">
                    New Order
                </a>
            </div>

        </div>
        <!-- <div class="card-body"> -->
        <nz-table class="kit__utils__table mb-4">
            <thead>
                <tr>
                    <th (click)="sortsettings('id')"><strong><a class="font-12">Id</a></strong><i
                            *ngIf="sortfield == 'id' && x == -1" class="icon-arrow-up  pull-right"></i>
                        <i *ngIf="sortfield == 'id' && x == 1" class="icon-arrow-down  pull-right"></i>
                    </th>
                    <th (click)="sortsettings('invoiceNo')"><strong><a class="font-12">InvoiceNO</a></strong><i
                            *ngIf="sortfield == 'invoiceNo' && x == -1" class="icon-arrow-up  pull-right"></i>
                        <i *ngIf="sortfield == 'invoiceNo' && x == 1" class="icon-arrow-down  pull-right"></i>
                    </th>
                    <th (click)="sortsettings('billAmount')"> <strong><a class="font-12">BIll Amount</a></strong><i
                            *ngIf="sortfield == 'billAmount' && x == -1" class="icon-arrow-up  pull-right"></i>
                        <i *ngIf="sortfield == 'billAmount' && x == 1" class="icon-arrow-down  pull-right"></i>
                    </th>
                    <th (click)="sortsettings('paidAmount')"> <strong><a class="font-12">Paid Amount</a></strong><i
                            *ngIf="sortfield == 'paidAmount' && x == -1" class="icon-arrow-up  pull-right"></i>
                        <i *ngIf="sortfield == 'paidAmount' && x == 1" class="icon-arrow-down  pull-right"></i>
                    </th>
                    <th (click)="sortsettings('orderType')"><strong><a class="font-12">OrderType</a></strong><i
                            *ngIf="sortfield == 'orderType' && x == -1" class="icon-arrow-up  pull-right"></i>
                        <i *ngIf="sortfield == 'orderType' && x == 1" class="icon-arrow-down  pull-right"></i>
                    </th>
                    <th (click)="sortsettings('orderedDate')"><strong><a class="font-12">orderedDate</a></strong><i
                            *ngIf="sortfield == 'orderedDate' && x == -1" class="icon-arrow-up  pull-right"></i>
                        <i *ngIf="sortfield == 'orderedDate' && x == 1" class="icon-arrow-down  pull-right"></i>
                    </th>
                    <th (click)="sortsettings('orderedDate')"><strong><a class="font-12">Action</a></strong><i
                            *ngIf="sortfield == '' && x == -1" class="icon-arrow-up  pull-right"></i>
                        <i *ngIf="sortfield == 'orderedDate' && x == 1" class="icon-arrow-down  pull-right"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of sortData">
                    <td>{{order.id}}</td>
                    <td>{{order.invoiceNo}}</td>
                    <td>{{order.billAmount}}</td>
                    <td>{{order.paidAmount}}</td>
                    <td>{{order.orderType}}</td>
                    <td>{{order.orderedDate}}</td>
                    
                    <td>
                        <a href="javascript: void(0);" class="btn btn-sm btn-light ">
                            <i class="fe fe-trash mr-1"></i>

                        </a>
                    </td>
                </tr>
            </tbody>
        </nz-table>
        <!-- </div> -->
    </div>
</div>
<!-- ////////////////////////////////////invoice//////////////////////////////// -->